/* CSS Document */
#details {
	padding-left: 25px;
	padding-right: 25px;
}

.preciotachado
{
	font-size: 20px !important;
	text-decoration: line-through !important;
	color: #6B5B5B !important;
}

.product-information
{
	padding-bottom: 5px !important;
}

#reviews form span input
{
	color: #656565 !important;
}

#reviews ul li span
{
	color: #696763;
	display: block;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	padding-right: 15px;
}